<html lang="en">
<% include ../partials/head %>
    <body>
        <% include ../partials/nav %>

            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <% if(listUser.length>0){%>
                            Register
                            <%}else{%>
                                Edit
                                <%}%>
                    </div>
                </div>
                <div class="list-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <form action="/user" method="POST">
                                <input type="hidden" class="form-control" id="_id" name="_id" value="<%= user[0]._id %>">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" id="name" name="name" value="<%= user[0].name %>">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Password:</label>
                                    <input type="password" class="form-control" id="password" name="password" value="<%= user[0].password %>">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                        <%= user.name %>
                            <div class="col-sm-6">
                                <table class="table table-hover" <% if( listUser.length==0 ) {%> hidden
                                    <%}%> >
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Password</th>
                                                <th>action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i < listUser.length; i++){ %>
                                                <tr>
                                                    <td>
                                                        <%= listUser[i].name %>
                                                    </td>
                                                    <td>
                                                        <%= listUser[i].password %>
                                                    </td>
                                                    <td>
                                                        <form action="/user/<%=listUser[i]._id%>" method="POST">
                                                            <button type="submit" class="btn btn-default">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </button>
                                                            <a href="/user/<%=listUser[i]._id%>" class="btn btn-default">
                                                                <span class="glyphicon glyphicon-trash"></span>
                                                            </a>
                                                        </form>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
            
            <% include ../partials/footer %>
    </body>
</html>